@import "tailwindcss";
*{
  box-sizing: border-box;
}

:root {
  --background: #4B3934;
  --color:#fff;
}

body {
  background: var(--background);
  color: var(--color);
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

.scale-animation {
  animation: scale 20s linear infinite;
}
